<div class="fl-timepicker">
    <span class="flaticon-prev disabled"></span>
    <span class="flaticon-next"></span>
    <div class="times" style="display: inline-table;">
        <div class="fl-time">
            <span class="fl-heurs">12:00</span>
            <span class="fl-am-pm">am</span>
        </div>
        <div class="margin-right"></div>
        <div class="fl-time">
            <span class="fl-heurs">12:00</span>
            <span class="fl-am-pm">am</span>
        </div>
    </div>
</div>