<div class="fl-agenda" [attr.data-week]="dataWeektxt" [attr.data-year]="dataYeartxt">
    <span class="fl-icon prev" [ngClass]="{'disabled': prevDisabled}" (click)="nav('prev')"></span>
    <span class="fl-icon next" [ngClass]="{'disabled': nextDisabled}" (click)="nav('next')"></span>
    <div *ngFor="let day of days; let last = last;" style="display: inline-table;">
        <div 
        class="fl-date" 
        (click)="selectDay(day)" 
        [ngClass]="{'disabled': day.isHoliday, 'today': isToday(day.ISODate)}"
        [attr.data-date]="day.ISODate">
            <span class="fl-day">{{day.name}}</span>
            <span class="fl-month-date">{{day.month + " " + day.date}}</span>
        </div>
        <div *ngIf="!last" class="margin-right"></div>
    </div>
</div>