<div class="fl-timepicker">
    <span class="flaticon-prev" [ngClass]="{'disabled': prevDisabled}" (click)="nav('prev')"></span>
    <span class="flaticon-next" [ngClass]="{'disabled': nextDisabled}" (click)="nav('next')"></span>
    <div class="fl-times" *ngFor="let time of times.slice(_index-pas, _index);">
        <div class="fl-time"  (click)="selectTime(time)">
            <span class="fl-heurs">{{time.heurs+':'+time.minutes}}</span>
            <span class="fl-am-pm">{{time.mode}}</span>
        </div>
    </div>
</div>